{{#>wrappedContainer}}
    <section class='section'>
  <h1 class="title">Регистрация</h1>
  <form>
        <div class='wrap-form'>
            <label
                for='{{registration.email.name}}'
                class='form-label'
            >Почта</label>
            <input
                type='email'
                name={{registration.email.name}}
                required
                id='{{registration.email.name}}'
                placeholder='{{registration.email.placeholder}}'
            />
        </div>
        <div class='wrap-form'>
            <label
                for='{{registration.login.name}}'
                class='form-label'
            >Логин</label>
            <input
                type='text'
                name='{{registration.login.name}}'
                id='{{registration.login.name}}'
                required
                placeholder='{{registration.login.placeholder}}'
            />
        </div>
         <div class='wrap-form'>
            <label
                for='{{registration.firstName.name}}'
                class='form-label'
            >Имя</label>
            <input
                type='text'
                name='{{registration.firstName.name}}'
                id='{{registration.firstName.name}}'
                required
                placeholder='{{registration.firstName.placeholder}}'
            />
        </div>
         <div class='wrap-form'>
            <label
                for='{{registration.lastName.name}}'
                class='form-label'
            >Фамилия</label>
            <input
                type='text'
                name='{{registration.lastName.name}}'
                id='{{registration.lastName.name}}'
                required
                placeholder='{{registration.lastName.placeholder}}'
            />
        </div>
         <div class='wrap-form'>
            <label
                for='{{registration.phone.name}}'
                class='form-label'
            >Телефон</label>
            <input
                type='phone'
                name='{{registration.phone.name}}'
                id='{{registration.phone.name}}'
                required
                placeholder='{{registration.phone.placeholder}}'
            />
        </div>
         <div class='wrap-form'>
            <label
                for='{{registration.password.name}}'
                class='form-label'
            >Пароль</label>
            <input
                type='password'
                name='{{registration.password.name}}'
                id='{{registration.password.name}}'
                required
                pattern='{{registration.password.pattern}}'
                placeholder='{{registration.password.placeholder}}'
            />
        </div>
         <div class='wrap-form'>
            <label
                for='{{registration.password}}'
                class='form-label'
            >Пароль еще раз</label>
            <input
                type='password'
                name='{{registration.repeatPassword.name}}'
                id='{{registration.repeatPassword.name}}'
                required
                placeholder='{{registration.repeatPassword.placeholder}}'
            />
        </div>
        {{> fieldButton}}
        <div class="form-link">
            <a>{{registration.linkSignIn.text}}</a>
 </div>
    </form>
    </section>
{{/wrappedContainer}}
